@font-face {
    font-family: 'Panton';
    src: url('/fonts/Panton-Regular.eot');
    src: url('/fonts/Panton-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Panton-Regular.woff2') format('woff2'),
         url('/fonts/Panton-Regular.woff') format('woff'),
         url('/fonts/Panton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('/fonts/Panton-Bold.eot');
    src: url('/fonts/Panton-Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Panton-Bold.woff2') format('woff2'),
         url('/fonts/Panton-Bold.woff') format('woff'),
         url('/fonts/Panton-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('/fonts/Panton-SemiBold.eot');
    src: url('/fonts/Panton-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Panton-SemiBold.woff2') format('woff2'),
         url('/fonts/Panton-SemiBold.woff') format('woff'),
         url('/fonts/Panton-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('/fonts/Panton-Black.eot');
    src: url('/fonts/Panton-Black.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Panton-Black.woff2') format('woff2'),
         url('/fonts/Panton-Black.woff') format('woff'),
         url('/fonts/Panton-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: 'Panton', 'Arial', 'Helvetica', sans-serif;
}
.color-link {
    color: #009ee2;    
}

.color-link:hover {      
    text-decoration: none;
    color:    
}

.fancy-bg {
    background: linear-gradient(to right, #0187c1, #3ac0ef);
    border-radius: 3px;
}

.non-style-link:hover {      
    text-decoration: none;    
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/* -------- header-top styles -------- */

.header-top {    
    background-color: #1d1e1e;        
}
.header-top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-top__list {    
    font-weight: normal;
    display: flex;
    flex-basis: 45%;
    font-size: 14px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
.header-top__circle {
    color: #ffffff;
}
.header-top__item {
    display: inline;    
}

.header-top__link {
    color: #ffffff;
}
.header-top__link:hover,
.header-top__link:active,
.header-top__link:focus {
    color: #009ee2;
    text-decoration: none;
}
.header-top__phone {
    display: flex;
    align-items: center;
}
.phone__text {
    display: inline;
    color: #ffffff;    
    font-weight: normal;
    font-size: 13px;
    padding: 0 30px 0 35px;
    margin: 0;
}
.phone__number {    
    display: inline;    
    font-weight: 600;
    font-size: 20px;
    margin-left: 15px;
}
.phone__number:hover {
    text-decoration: none;
}

/* -------- header-info styles -------- */

.header-info {
    padding-top: 40px;
    padding-bottom: 40px;
}
.logo {
    text-align: justify;
}

.logo__link {       
    font-weight: 900;
    color: #0086c0;
    font-size: 50px;
    width: 100%; 
    letter-spacing: 3px;      
}
.header-info-row {
    align-items: center;
}
.logo__link:hover,
.logo__link:active,
.logo__link:focus {
    text-decoration: none;
}
.search {
    position: relative;
    margin: 0 auto;
}
.search__input {    
    height: 42px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 0 15px;
}
.search__icon {    
    height: 30px;
    width: 30px;
    position: absolute;
    top: 4px;
    right: 8px;
    background-color: #ffffff;    
    cursor: pointer;
    border: none;
    outline: none;
}
.search__icon:hover,
.search__icon:active,
.search__icon:focus {
    outline: none;

}
.search__icon:after {
    content: "\f002";
    font-size: 20px;
    font-family: FontAwesome;

}
.user-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.user-list__item {
    display: block;    
    padding: 0 15px;    
}
.user-list__sup {
    line-height: 20px;
    font-size: 16px;
    font-weight: 600;
}

/* -------- header-nav styles -------- */

.header-nav {    
    background-color: #efefef;    
}

.catalog-button {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.catalog__link {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}
.catalog__link:hover {
    text-decoration: none;
    color: #ffffff;
}
.bar-line {
    color: #ffffff;
    width: 100%;
    height: 2px;
}
.catalog__link:before {
    content: '\2630';
    height: 0;
    width: 0;
    position: absolute;    
    left: 35px;
}

.catalog__link::after {
    content: '\f107';
    font-family: FontAwesome;
    height: 0;
    width: 0;
    position: absolute;
    right: 50px;    
    
}
    

.site-list {    
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.site-list__item {  
    display: inline;
    padding: 0 10px;
}

.site-link {
    color: #1d1e1e;
    font-weight: bold;
    text-transform: uppercase;

}
.site-link:hover,
.site-link:focus,
.site-link:active {
    text-decoration: none;
    color: #009ee2
}

.site-list__link {
    display: flex;
    justify-content: center;
}

.site-list__link::before {
    content: '';
    position: absolute;
    text-align: center;      
    height: 0;
    width: 0;
    border: 10px solid transparent; border-top: 10px solid #ffffff;   
    top: 0; 
    transform: scale(0);    
}

.site-list__link:hover:before {    
    transform: scale(1);
}

/* -------- section banners styles -------- */

.baners-wrapper {
    justify-content: flex-end;
}
.main-banner {
    height: 410px;    
}
.small-banners-wrapper {
    padding-top: 30px;
}
.small-banner {
    height: 172px;
}

/* -------- section styles -------- */

.section-padding {
    padding-top: 30px;
    padding-bottom: 100px;
}

.title-text {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin: 0;
}

.title-link {
    margin-left: 30px;
    letter-spacing: 2px;
    border-bottom: 1px solid #009ee2;    
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    
}

/* -------- aside-banner -------- */

.aside-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    padding: 27px 30px 20px 30px;
}

.aside-banner__title {
    font-size: 33px;
    font-weight: 800;
    color: #ffffff;
}

.aside-banner__text {
    color: #4cd2fe;
    font-size: 22px;
    font-weight: 600; 
      
}
.aside-banner__price {
    font-size: 30px;
    color: #ffffff;
    margin: 0; 
}

/* -------- hit styles -------- */

.hit-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.control-block {
    display: flex;
    position: relative;
    width: 67px;
    justify-content: space-around;
    align-items: center;
    
}

.hit-content {
    padding-top: 20px;
}
.hit-banner__image {
    position: absolute;
    top: 30%;
    left: 25px;
}

.hit-slider__control-prev {    
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 100%;
    top: 0;
    right: 45px;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    background-color: #1d1e1e;
    width: 27px;
    height: 27px;
    margin: auto;
}

.hit-slider__control-prev:hover {
    color: #dddddd;
    text-decoration: none;
}

.control-prev {    
    margin-bottom: 4px;
          
}

.hit-slider__control-next {    
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 100%;
    top: 0;
    right: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    background-color: #1d1e1e;
    width: 27px;
    height: 27px;
}

.hit-slider__control-next:hover {
    color: #dddddd;
    text-decoration: none;
}
.control-next {
    margin-bottom: 4px;
}

/* -------- Карточка товара -------- */

.product-card {
    position: relative; 
    -webkit-box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.15);    
}

.product-card:hover {
    -webkit-box-shadow: 0px 15px 20px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 15px 20px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 15px 20px 2px rgba(0, 0, 0, 0.15);
}

.product-card__image {
    
    padding: 27px 15px 0 15px;
    width: 100%;
}


.triggers {
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    top:0;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: 1px;
}

.triggers__discount {
    display: block;
    padding: 9px 16px;
    background-color: #00963f;
    border-radius: 3px;
    margin-bottom: 5px;
}

.triggers__hit {
    display: inline-block;
    text-align: center;
    padding: 9px 16px;

}
.trigger--off {
    visibility: hidden;
}

.rating-wrapper {
    display: flex;
    justify-content: space-between;
}

.rating:hover {
    text-decoration: none;
    color: #ffb400;
}

.rating {
    font-size: 20px;
    color: #ffb400;
    width: 100%;
}

.stars {
    margin: 0 -3px;
}

.stars:hover:before {
    content: "\2605";
    position: absolute;
    color: #ffb400;
}

.product-like {
    display: none;
}
.product-like:hover {
    display: block;
}
.rating-like {    
    height: 30px;
    width: 30px;
    position: absolute;  
    top: 52%; 
    right: 9px;
    color: #009ee2;       
    cursor: pointer;       
}

.rating-like:after {
    content: "\f08a";
    font-size: 20px;
    font-family: FontAwesome;
}
.rating-like:hover:after {
    content: "\f004";
    font-size: 20px;
    font-family: FontAwesome;
}

.product-card__body:hover + .product-like { 
    display: block;
}

.product-card__body {
    position: relative;
    padding-bottom: 15px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 20px;
}

.product-card__link {
    font-size: 16px;
    color: #000000;
}

.product-card__link:hover {
    color: #009ee2;
    text-decoration: none;
}

.product-card__name {
    margin-bottom: 15px;
}

.product-card__price {
    font-size: 18px;
    font-weight: 900;
    margin: 0;
}

.product-card__price-profit {
    position: absolute;
    bottom: 38%;
    color: #00963f;
}

.product-card__price-sale {
    font-size: 14px;
    font-weight: 600;
    color: #6d6d6d;
    padding: 0 10px;
}

.product-card__button {
    font-size: 16px;
    font-weight: bold;
    padding: 18px 0;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: block;
    width: 100%;
    margin-top: 20px;
}
.product-card__button:hover,
.product-card__button:active,
.product-card__button:focus {
    color: #ffffff;
    text-decoration: none;
    background: linear-gradient(to right, #3ac0ef, #0187c1);

}

.fresh-content {
    padding-top: 20px;
}

.fresh-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aside-banner__discount {
    position: absolute;
    bottom: 25%;
    right: 5%;
}
.banner__discount {
    font-size: 90px;
    font-weight: 800;
    color: rgba(255, 255, 255, .22);    
}
.fresh-banner__image {
    position: absolute;
    top: 0;
    right: 10%;
}
